# Dependencies
node_modules/
.pnpm-store/

# Build and Cache
.cache/
.turbo/
dist/
build/
out/
release/
!/scripts/release/
*.tsbuildinfo

# Tests
coverage/
.nyc_output/
playwright-report/
test-results/

# Logs
*.log

# Local Configuration
.env
.env.*
!.env.example
!.env.*.example

# Editors
.idea/
.vscode/
*.iml

# Operating Systems
.DS_Store
Thumbs.db
Desktop.ini
