@scope (.novadeck) {
  .columns {
    --columns__row-gap: var(--spacing__md);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--columns__row-gap);
  }

  .columns.items-start {
    align-items: flex-start;
  }

  .columns.items-center {
    align-items: center;
  }

  .columns.items-end {
    align-items: flex-end;
  }

  .columns.items-stretch {
    align-items: stretch;
  }

  .column {
    flex: 1 1 auto;
    min-width: 0;
  }

  .column.fractional {
    flex: 0 0 var(--column__basis);
  }
}
