@scope (.novadeck) {
  .stack {
    --stack__gap: var(--spacing__sm);

    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: var(--stack__gap);
  }

  .stack.items-start {
    align-items: flex-start;
  }

  .stack.items-center {
    align-items: center;
  }

  .stack.items-end {
    align-items: flex-end;
  }

  .stack.items-stretch {
    align-items: stretch;
  }

  .stack.justify-start {
    justify-content: flex-start;
  }

  .stack.justify-center {
    justify-content: center;
  }

  .stack.justify-end {
    justify-content: flex-end;
  }

  .stack.justify-between {
    justify-content: space-between;
  }
}
